#home .banner {
  position: relative;
}
#home .banner .banner_top img {
  width: 100%;
  display: block;
  margin: 0 auto;
}
#home .banner .banner_bot {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 60px;
  line-height: 60px;
  background: rgba(0, 0, 0, 0.2);
  z-index: 9;
}
#home .banner .banner_bot .swiper-container {
  height: 100%;
  box-sizing: border-box;
  padding-left: 160px;
  background: url("../images/最新公告.png") no-repeat 0 15px;
  opacity: 1;
}
#home .banner .banner_bot .swiper-container .swiper-slide {
  color: #000000;
  opacity: 1;
}
#home .invest {
  box-sizing: border-box;
  padding-bottom: 45px;
}
#home .invest img {
  width: 100%;
}
#home .invest ul {
  display: flex;
  list-style: none;
  margin: 60px 40px;
}
#home .invest ul li {
  width: 33.33%;
  text-align: center;
  border-right: 1px solid #ededed;
}
#home .invest ul li p:first-child {
  font-size: 17px;
  color: #000;
  margin-bottom: 36px;
}
#home .invest ul li p:last-child {
  color: #ff4848;
  font-size: 48px;
}
#home .invest ul li:last-child {
  border-right: none;
}
#home .novice {
  background-color: #f1f3f9;
  text-align: center;
  box-sizing: border-box;
  padding: 60px 0;
}
#home .novice ul {
  display: flex;
  justify-content: space-around;
  list-style: none;
  margin-top: 60px;
  background: url("../images/新手标背景.png") no-repeat;
  background-size: 100% 100%;
  height: 390px;
  box-sizing: border-box;
  padding-top: 190px;
}
#home .novice ul li {
  text-align: left;
}
#home .novice ul li p:first-child {
  font-size: 34px;
  margin-bottom: 20px;
}
#home .novice ul li p:first-child span {
  font-size: 34px;
}
#home .novice ul li a {
  display: inline-block;
  background: #FF9900;
  color: #ffffff;
  font-size: 30px;
  height: 70px;
  line-height: 70px;
  box-sizing: border-box;
  padding: 0 60px;
  -webkit-border-radius: 35px;
  -moz-border-radius: 35px;
  border-radius: 35px;
}
#home .novice ul li:last-child p:first-child {
  font-size: 38px;
  color: #ff2a00;
}
#home .novice ul li:last-child p:last-child {
  font-size: 40px;
}
#home .select {
  box-sizing: border-box;
  padding: 60px 0;
  text-align: center;
}
#home .select .select_cont {
  background: url("../images/精选专享背景.png") no-repeat;
  background-position: 0 0;
  box-sizing: border-box;
  padding: 60px 0;
  margin-top: 60px;
}
#home .select .select_cont ul {
  width: 80%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  list-style: none;
}
#home .select .select_cont ul li {
  color: #ffffff;
}
#home .select .select_cont .circle {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding-top: 60px;
  display: flex;
  justify-content: space-around;
}
#home .select .select_cont .circle .circle_cont {
  width: 25%;
  background: #fff;
  padding-top: 22px;
  box-shadow: 2px 1px 8px #A14117;
  opacity: 1;
  padding-bottom: 40px;
}
#home .select .select_cont .circle .circle_cont .top {
  margin-top: 22px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  border-bottom: 1px solid #ededed;
  padding-bottom: 16px;
  color: #8f8f8f;
  font-size: 19px;
}
#home .select .select_cont .circle .circle_cont h1 {
  text-align: center;
  color: red;
  margin-top: 42px;
  margin-bottom: 22px;
  font-size: 2em;
}
#home .select .select_cont .circle .circle_cont h3 {
  margin-bottom: 22px;
  color: #999;
  text-align: center;
}
#home .select .select_cont .circle .circle_cont .limit1 {
  width: 80%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  margin-bottom: 16px;
}
#home .select .select_cont .circle .circle_cont .limit1 .limit1l {
  font-size: 16px;
  color: #666666;
}
#home .select .select_cont .circle .circle_cont .limit1 .limit1r {
  font-size: 16px;
  color: #ff6421;
}
#home .select .select_cont .circle .circle_cont .investment1 {
  position: absolute;
  background: #ff6421;
  color: #ffffff;
  box-sizing: border-box;
  padding: 12px 16px;
  border-radius: 50%;
  top: 115.9%;
  left: 72.7%;
  margin-top: -100px;
  margin-left: -100px;
}
#home .news {
  background-color: #f1f3f9;
  text-align: center;
  box-sizing: border-box;
  padding: 60px 0;
}
#home .news .news_title {
  margin-bottom: 60px;
}
#home .news .news_cont {
  display: flex;
}
#home .news .news_cont .news_cont_right {
  width: 40%;
  background: #ffffff;
  box-sizing: border-box;
  padding: 20px 40px;
}
#home .news .news_cont .news_cont_right h3 {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}
#home .news .news_cont .news_cont_right h3 span {
  display: block;
}
#home .news .news_cont .news_cont_right h3 span:first-child {
  font-size: 20px;
}
#home .news .news_cont .news_cont_right h3 span:last-child {
  font-weight: normal;
  font-size: 16px;
  color: #000;
  cursor: pointer;
}
#home .news .news_cont .news_cont_right .news_report {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 10px 0;
}
#home .news .news_cont .news_cont_right .news_report h3 {
  margin-bottom: 10px;
}
#home .news .news_cont .news_cont_right .news_report div {
  text-align: left;
  color: #8f8f8f;
}
#home .partner {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 60px 0;
  text-align: center;
}
#home .partner .partner_cont {
  margin-top: 60px;
}
#home .partner .partner_cont img {
  margin: 0 20px;
}
